/* Exercício 1 CSS3 */

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

nav a {
    font-weight: bold;
}

form {
    border: 1px solid #808080;
    padding: 10px;

    button {
        background-color: #007bff;
        color: #ffffff;
        width: 80px;
        height: 30px;
    }
}

p {
    color: #008000;
}

#cabecalho {
    background-color: rgba(105, 105, 237, 0.995);
}

#container {
    padding: 20px;
}

#conteudo {
    line-height: 1.5;
}

#rodape {
    border-top: 2px solid #ff0000;
}
