
/*style="text-align: center;font-family:Tahoma, Verdana, sans-serif;"*/


/*Exemplo de seletores*/

/*Seletores de tipos*/
h1 {
    color: red;
    text-align: center;
}

#cabecalho {
    background-image: url("../imagem/img-01-banner-1280×640.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
}

/*Seletores de classes*/
.link {
    /*font-size: 24px;
    font-size: 24%;
    font-size: 24em;
    font-size: 24vw;
    font-size: 24rem;*/
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.123);
    display: inline-block;
    margin: 0 5% 0 5%;
    padding: 5px 5px;
    width: 15%;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: rgba(255, 0, 0, 0.500);;
    }
}
    /* Nesting elements */
    .link a {
        text-decoration: none;
        color: black;
        width: 5px;

        /* Nesting elements */
        img {
            display: inline-block;
            width: 25%;
        }
    }

/*Seletores de ID*/
#menu ul{
    list-style-type: none;
    text-align: center;
}

